@model ColSoftDist.Models.FileUploadViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Добавление файлов";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="body-content">
        <div class="row upload-container">
            <div class="upload-form drop-shadow">
                <form asp-action="UploadNewFile"
                      method="post"
                      enctype="multipart/form-data"
                      id="upload-form">
                    <div class="row ">

                        <div class="form-group center">
                            <div class="wrap-label">
                                <label for="inp_name" class="lbl-name">Название:</label>
                                <p class="iconicfill-pen-alt2"></p>
                            </div>
                            <input asp-for="Name" class="form-control " id="inp_name" />

                        </div>
                        <div class="form-group center">
                            <div class="wrap-label">
                                <label asp-for="About" class="lbl-about">Описание:</label>
                                <p class="iconicfill-pen-alt2"></p>
                            </div>
                            <input asp-for="About" class="form-control" id="inp_about"  />
                        </div>
                        <div class="row">

                            <label class="btn-custom" style="width: 100px; margin-right: 20px; margin-left: 20px;">Обзор<input type="file" name="uploadedFile" accept=".rar, .zip, .7z" style="display: none" id="upload" />
                            </label>
                            <label>
                                Менеджер
                            </label>
                            <input type="checkbox" />
                            <label style="margin-left: 15px;">
                                Штатный сотрудник
                            </label>
                            <input type="checkbox" />

                        </div>
                        <div class="submit" style="right: 0;">
                            <button type="submit" class="btn-custom"style="padding-left:2.8em; padding-right: 2.8em;">
                                Добавить
                                
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>

